@media screen and (max-width:768px) {
    html {
        font-size: 60%;
    }

    .cabecalho {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:650px) {

    body {
        background-image: url(../imagens/fundo-mobile1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
    }

    .container-input {
    flex-direction: column;
   }

   .container-input .input {
        width: 300px;
        height: 400px;
        margin: 2em 0;
    }

    #output {
        margin: 0 auto;
    }

    .container-bnt{
        position: relative;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 5em 1em 5em 1em;
     }

   

    .container-bnt button {
        margin: 0 auto;
    }
}

@media screen and (max-width:400px) {
    #output {
        width: 300px;
        height: 350px;
    }

    #output h2 {
        font-size: 22px;
    }

    #input-texto {
        width: 280px;
        height: 320px;
    }
}